@import "./settings/mixins";
@import "./settings/variables";

// hero

.hero-option a {
    color: $fontcolGblue;
    text-align: left;
    @include EleFontFam(500,20px);

}

h2 {
    color: $fontcolGblue;
    @include EleFontFam(600,38px);
}
h2+p {
    color: $fontcolGblue;
    text-align: left;
    @include EleFontFam(600,24px);

}

li {
    color: $fontcolGblue;
    @include EleFontFam(600,24px);
}

a {
    text-decoration: none;
}

h1 {
    color: $fontcolGblue;
    @include EleFontFam(700,57px);

}

h3 {
    color: #453f3f;
    @include EleFontFam(600,24px);

}

h4 {
    color: $fontcolGblue;
    @include EleFontFam(600,20px);

}

h5 {
    color: #000000;
    @include EleFontFam(300,24px);

}

span {
    color: #000000;
    @include EleFontFam(600,12px);
    h6 {
        color: #000000;
        display: inline;
        height: 15px;
        font-size: 15px;
    }
}



.location span {
    color: #000000;
    font-family: "Mukta-Regular", sans-serif;
    font-size: 36px;
    font-weight: 400;
}
footer {
    background-color: #06348c;
    h2,h3,li {
        color: #fff;
    }
}

p {
    color: #453f3f;
    font-family: "Mukta-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

button {
    background: $fontcolGblue;
    border-radius: 10px;
    @include EleWH(360px,72px);
    line-height: 72px;
    color: #ffffff;
    text-align: left;
    @include EleFontFam(300,28px);
    border: none;
}

 
// tour

.tour {

    h2 {
        @include EleFontFam(300,49px);
        color: #453f3f;
        padding-top: 15px;
        padding-bottom: 20px;
    }
}


// connection

.connection {
    height: 209px;

    p {
        color: $fontcolGblue;
        @include EleFontFam(700,36px);

    }
}

// footer

footer {
    div:first-of-type li {
        color: #ffffff;
        @include EleFontFam(500,15px);
        line-height: 18px;
        padding: 10px;
        padding-left: 50px;
    }
    div li {
        color: #ffffff;
        text-align: left;
        padding: 5px;
        @include EleFontFam(400,18px);
    }
    div:last-of-type li:last-of-type {
        font-size: 12px;
    }
    div:last-of-type li:nth-last-child(2) {
        color: #ffffff;
        @include EleFontFam(700,20px);
    }
}

