/*
=================================================
Grid
=================================================
*/
body {
  max-width: 1400px;
  height: 100vh;
  margin: auto;
}

.bord {
  box-sizing: border-box;
  border-left: 3px solid #F2B30F;
  border-right: 3px solid #F2B30F;
  border-bottom: 3px solid #F2B30F;
  padding: 0 10px;
}

.bord2 {
  border-left: 2px solid #27647E;
  border-right: 2px solid #27647E;
  border-bottom: 2px solid #27647E;
}

/*
======================================================
Header
======================================================
*/
.bliss-header {
  -moz-column-gap: 2%;
       column-gap: 2%;
}
.bliss-header h2 {
  padding-bottom: 15px;
  border-bottom: 3px solid #F2B30F;
}
.bliss-header li:first-child {
  margin-right: 20%;
}
.bliss-header li:last-child {
  margin-right: 2%;
}

.hero-child-input form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hero-child-input button {
  border-radius: 0 10px 10px 0;
  width: 200px;
  height: 100%;
  font-size: 27px;
  font-weight: 600;
}
.hero-child-input .btn-in {
  border: none;
  width: 37%;
  height: 100%;
  padding: 0 30px;
  border: 3px solid #F2B30F;
  border-right: none;
  border-radius: 0;
  font-size: 23px;
  background-color: #fff;
  color: grey;
}
.hero-child-input .date {
  width: 30%;
  border-radius: 10px 0 0 10px;
}

.hero-option {
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin-top: 30px;
  padding-bottom: 60px;
  /*
  ===================================================
   Deals Tour Facilities Location
  ===================================================
  */
}
.hero-option .hero-discount h1 {
  border-bottom: 3px solid #06348c;
}
.hero-option .hero-free h1 {
  border-bottom: 3px solid green;
}
.hero-option .hero-excellence h1 {
  border-bottom: 3px solid #d30a0a;
}
.hero-option h1,
.hero-option a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero-option .hero-section div + h1 {
  margin-top: 235px;
}
.hero-option .hero-section .hero-child-input {
  margin-top: 50px;
}

.deals {
  -moz-column-gap: 4%;
       column-gap: 4%;
  margin: auto 2%;
}
.deals h4,
.deals span,
.deals p,
.deals h3 {
  padding: 12px 0;
}

.tour {
  flex-wrap: wrap;
  -moz-column-gap: 4%;
       column-gap: 4%;
}

.facilities {
  -moz-column-gap: 3%;
       column-gap: 3%;
  margin: auto 2%;
}
.facilities .second-col-1-3 .fac-br {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.facilities .second-col-1-3 h3 {
  padding: 15px 40px;
}
.facilities .second-col-1-3 h5 {
  padding: 12px 0;
  padding-left: 40px;
  font-size: 18px;
}
.facilities .cinema h3 {
  padding-top: 15px;
}
.facilities .cinema h5 {
  padding-top: 7px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.location {
  -moz-column-gap: 4%;
       column-gap: 4%;
  margin-top: 50px;
}
.location span {
  display: block;
}
.location h3 {
  color: #06348c;
  font-size: 37px;
  padding-bottom: 30px;
}
.location .locate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.connection button {
  border-radius: 0 10px 10px 0;
  width: 15%;
  display: flex;
  justify-content: center;
}
.connection input {
  width: 60%;
  border-radius: 10px 0 0 10px;
}

/*
===================================================
Footer
===================================================
*/
footer {
  -moz-column-gap: 6%;
       column-gap: 6%;
  height: 268px;
  gap: 100px;
}

/*
===================================================
Flex items
===================================================
*/
.flex-item {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.group {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.flex-item2 {
  display: flex;
  justify-content: center;
}

/*
=================================================
Layout
=================================================
*/
.flex-item2 {
  justify-content: space-between;
}

.first-col-1-3 {
  width: 29%;
}

.tour {
  margin: auto 8%;
}

.col-2-4 {
  width: 48%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.col-2-4 h2 {
  display: flex;
  justify-content: center;
}

.second-col-1-3 {
  width: 30%;
}
.second-col-1-3 img {
  width: 100%;
  height: 450px;
}

.col-2-3 {
  width: 44%;
}

.hero-img {
  background-image: url(../images/herobg.png);
  height: 665px;
}/*# sourceMappingURL=styles.css.map */