@import "./settings/mixins";
@import "./settings/variables";


/*
=================================================
Grid
=================================================
*/

*,
::before,
::after {
  // outline: 1px solid black;
}

body {
  max-width: 1400px;
  height: 100vh;
  margin: auto;
}

.bord {
  box-sizing: border-box;
  @include EleBfont();
  padding: 0 10px;
}

.bord2 {
  @include EleBfont2();
}

/*
======================================================
Header
======================================================
*/


.bliss-header {
  column-gap: 2%;

  h2 {
    padding-bottom: 15px;
    border-bottom: 3px solid #F2B30F;
  }

  li:first-child {
    margin-right: 20%;
  }

  li:last-child {
    margin-right: 2%;
  }
}


.hero-mid {
 h1 {
  margin-top: 250px;
 }
}
.hero-child-input {
  form {
    @include Eleflex();
    width: 100%;
  }

  button {
    border-radius: 0 10px 10px 0;
    @include EleWH(200px, 100%);
    font-size: 27px;
    font-weight: 600;
  }

  .btn-in {
    border: none;
    @include EleWH(37%, 100%);
    padding: 0 30px;
    border: 3px solid $fontColYel;
    border-right: none;
    border-radius: 0;
    font-size: 23px;
    background-color: #fff;
    color: grey;

  }

  .date {
    width: 30%;
    border-radius: 10px 0 0 10px;

  }
}

.hero-option {
  column-gap: 10%;
  margin-top: 30px;
  padding-bottom: 60px;

  .hero-discount h1 {
    border-bottom: 3px solid #06348c;
  }

  .hero-free h1 {
    border-bottom: 3px solid green;
  }

  .hero-excellence h1 {
    border-bottom: 3px solid #d30a0a;
  }

  h1,
  a {

    @include Eleflex();
    flex-direction: column;
    align-items: center;
  }

  .hero-section {
    div+h1 {
        margin-top: 235px;
    }

    .hero-child-input {
        margin-top: 50px;
    }
}

  /*
===================================================
 Deals Tour Facilities Location
===================================================
*/


}

.deals {
  column-gap: 4%;
  margin: auto 2%;

  h4,
  span,
  p,
  h3 {
    padding: 12px 0;
  }
}

.tour {
  flex-wrap: wrap;
  column-gap: 4%;
}

.facilities {
  column-gap: 3%;
  margin: auto 2%;

  .second-col-1-3 {
    .fac-br {
      @include Eleflex();
      justify-content: space-evenly;
    }

    h3 {
      padding: 15px 40px;
    }

    h5 {
      padding: 12px 0;
      padding-left: 40px;
      font-size: 18px;
    }
  }

  .cinema {
    h3 {
      padding-top: 15px;
    }

    h5 {
      @include EleSpacerPtb(7px, 0px);
      margin-bottom: 5px;
    }
  }
}

// location 

.location {
  column-gap: 4%;
  margin-top: 50px;

  span {
    display: block;
  }

  h3 {
    color: $fontcolGblue;
    font-size: 37px;
    padding-bottom: 30px;
  }

  .locate {
    @include Eleflex;
    flex-direction: column;
    gap: 15px;

  }
}

.connection {
  button {
    border-radius: 0 10px 10px 0;
    width: 15%;
    @include Eleflex();

  }

  input {
    width: 60%;
    border-radius: 10px 0 0 10px;
  }
}

/*
===================================================
Footer
===================================================
*/

footer {
  column-gap: 6%;
  height: 268px;
  gap: 100px;
}

/*
===================================================
Flex items
===================================================
*/

.flex-item {
  @include Eleflex();
  padding-top: 30px;
}

.group {
  @include Eleflex();
  margin: auto;
  margin-top: 20px;
}

.flex-item2 {
  @include Eleflex();
}

/*
=================================================
Layout
=================================================
*/

.flex-item2 {
  justify-content: space-between
}

// Deals

.first-col-1-3 {
  @include EleW(29%);
}


// Tour

.tour {
  margin: auto 8%;
}

.col-2-4 {
  @include EleW(48%);
  @include Eleflex();
  flex-direction: column;
  margin-bottom: 40px;

  h2 {
    @include Eleflex();

  }
}

// Facilities

.second-col-1-3 {
  @include EleW(30%);

  img {
    @include EleWH (100%, 450px)
  }

}

// Location

.col-2-3 {
  @include EleW(44%);
  // height: 100vh;
}



// Image for header

.hero-img {
  background-image: url(../images/herobg.png);
  height: 665px;
}


/*
================================================
Register
================================================
*/

.register {
  background-color:#dbe8ee;
  @include Eleflex();
  flex-direction: column;
  align-items: center;
  form {
    @include Eleflex();
    flex-direction: column;
    gap: 20px;
    width: 70%;
  }
  .map {
    width: 100%;
    img {
      @include EleWH(100%,600px);
      padding-top: 30px;
    }
  }
  input, textarea {
    width: 100%;
    display: block;
  }

  input {
    padding: 0 40px;
    height: 50px;
    border-radius: 6px;
    border: none;

  }
  textarea {
    padding: 15px 40px;
    border-radius: 6px;
  }
  button {
    margin: auto;
    width: 20%;
    height: 50px;
    border-radius: 6px;
    border: none;
  }
}