/* * {
    outline: 1px solid gray;
} */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Mukta', sans-serif;
}

/* Romms and rates */

.rooms {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 40px;
}

.room {
    width: 1030px;
    height: max-content;
    display: flex;
}

.room_img {
    width: 500px;
    height: 350px;
}

.room_description {
    width: 630px;
    height: 350px;
    padding: 40px 20px;
    border: 2px solid #F2B30F;
    border-left: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}


.room_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    margin-bottom: -5px;
}

.room_rating {
    font-size: 8px;
    color: rgba(0, 0, 0, 0.51);
}

.rating_span {
    color: black;
}

.description {
    width: 60%;
}

.room_btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address {
    background-color: rgba(39, 100, 126, 0.1);
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input {
    width: 550px;
    height: 40px;
    border: 1.5px solid #F2B30F;
    border-right: none;
}

label {
    background-color: #06348C;
    color: #fff;
    padding: 11.5px 20px;
    margin-left: -3px;
    border-radius: 0 6px 6px 0;
}

label:hover {
    background-color: #063ea5;
    cursor: pointer;
}

/* component */

button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: #06348C;
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: #063ea5;
}

.book {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 25px;
}

.view_rooms {
    width: fit-content;
    margin: auto;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 40px;
}

.facility_btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 24px;
    padding: 10px 30px;
}

/* typo */

.room_name {
    color: #06348C;
    font-size: 28px;
    font-weight: 600;
}

.room_rating {
    font-weight: 500;
    font-size: 12px;
}

.room_price {
    color: #453F3F;
}

.price_span {
    color: black;
    font-weight: 600;
}

.address_head {
    color: #06348C;
    font-weight: 600;
    font-size: 20px;
}

/* Facilities */

.facility_cont {
    width: 1200px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 45px;
    column-gap:30px;
    margin: auto;
}

.facility {
    width: 380px;
}

.facility_img {
    height: 460px;
}

.facility_description {
    border: 1.5px solid #27647E;
    border-top: none;
    height: 175px;
}

/* typo */

.facility_name {
    color: #453F3F;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

.facility_quality {
    color: #000;
    font-size: 20px;
    font-weight: 100;
    padding: 0 0 0 80px;
    position: relative;
}

.facility_quality p {
    line-height: 40px;
}

.facility_quality p::before {
    content: url(../check-mark.svg);
    position: absolute;
    left: 35px;
}