
@mixin EleWH($w,$h){
    width: $w;
    height: $h;
}
// @mixin group($w) {
//     max-width: $w;
//     margin: 0 auto;
// }
// @mixin EleSpacerPM($p,$m) {
//     padding: $p;
//     margin: $m;
// }

// @mixin EleBoxsize() {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }
// @mixin EleBoxshadow() {
//     -webkit-box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, .1);
//       box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, .1);
// }
@mixin EleflexGap($f,$g){
    display: $f;
    gap: $g;
}
@mixin EleHL($h,$l){
    height: $h;
    line-height: $l;
}
@mixin EleFontswf($fs,$fw,$ff){
    font-size: $fs;
    font-weight: $fw;
    font-family: $ff;
}

@mixin Eleflex() {
    display: flex;
    justify-content: center;
}

// Padding

@mixin EleSpacerPtb($pt,$pb) {
    padding-top: $pt;
    padding-bottom: $pb;
}
@mixin EleSpacerPlr($pl,$pr) {
    padding-left: $pl;
    padding-right: $pr;
}
// Margin

@mixin EleSpacerMtb($mt,$mb) {
    margin-top: $mt;
    margin-bottom: $mb;
}
@mixin EleSpacerMlr($ml,$mr) {
    margin-left: $ml;
    margin-right: $mr;
}

// Length and Width

@mixin EleLength($w , $h) {
    width: $w;
    height: $h;
}
 @mixin Eleflex() {
    display: flex;
    justify-content: center;
}
@mixin EleW($w) {
    width: $w;
}
@mixin EleMarg($f,$s) {
    margin: $f $s;
}